<h1>Music Store the art of shred</h1>

<h4>Featured guitars</h4>
{% for guitar in guitars %}
	{% if guitar.featured %}
		<a href="{{ guitar.get_absolute_url }}">
            {{ guitar.brand.name }} {{ guitar.model_name }}
        </a><br>

	{% endif %}
{% endfor %}
<br>
<a href="{% url "all_brands" %}">See all guitars</a>
<p>{{ guitars.count }} guitars to choose from!</p>


<a href="{% url "payment-methods" %}" >Payment Methods</a>
<br>

<p>By using this site you agree to our use of cookies</p>
<p>&copy; all rights reserved</p>