{% extends "music_store/base.html" %}

{% load home_tags %}
{% load famous_clients_tags %}
{% load guitars_tags %}

{% block title %}The art of shred{% endblock %}

{% block content %}

{% for slide in slide %}
    <div>{% render_slide slide %}</div>
{% endfor %}

<h1>Music Store the art of shred</h1>

<div>Featured guitars</div>
<div>
	{% render_guitars featured_guitars %}
</div>

<div>
	<a href="{% url "all_brands" %}">See all guitars</a>
</div>
<div>
	{{ guitars.count }} guitars to choose from!
</div>

<a href="{% url "payment-methods" %}">Payment Methods</a>

<div>
	{% render_client_slideshow featured_customers %}

</div>
<a href="famous-customers">See what others say about us</a>

{% endblock %}
