{% extends "music_store/base.html" %}

{% load famous_clients_tags %}

{% block title %}The art of shred{% endblock %}

{% block content %}
<h1>Music Store the art of shred</h1>

<div>Featured guitars</div>
<div>
	{% for guitar in guitars %}
		{% if guitar.featured %}
			<div><a href="{{ guitar.get_absolute_url }}">
            	{{ guitar.brand.name }} {{ guitar.model_name }}
        		</a>
        	</div>

		{% endif %}
	{% endfor %}
</div>

<div>
	<a href="{% url "all_brands" %}">See all guitars</a>
</div>
<div>
	{{ guitars.count }} guitars to choose from!
</div>

<a href="{% url "payment-methods" %}">Payment Methods</a>

<div>
	{% render_client_slideshow featured_customers %}

</div>
<a href="famous-customers">See what others say about us</a>

{% endblock %}
